{{notificationMessage}}

{{#if isLoggedIn}}
<a href="/settings"
    title="Change Settings"
    class='player-notification-link'
    >Change Settings</a>
{{else}}
<a href="/settings"
    title="Change Settings"
    class='player-notification-link'
    >Login</a> to change settings.
{{/if}}
