<p class='player-notification-message'>
  {{yield}}
</p>
<div class='player-notification-action'>
  <div
    class='player-notification-dismiss player-notification-close-icon gtm__click-tracking'
    data-action='Continuous Play Notification'
    data-label='Click to Close Notification'
    {{action (mut didDismiss) true}}>
    {{nypr-svg className="nypr-player-icon" icon='close'}}
  </div>
</div>
